body {
    font-family: Arial, sans-serif;
    background-color: #193c47f3;
    margin: 0;
    padding: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(71, 29, 29, 0.2);
}

.documentation-format {
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
}

h1 {
    text-align: center;
    color: #193c47f3;
}

.file-input {
    margin: 20px 0;
    text-align: center;
}

.file-input input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    width: calc(100% - 22px);
    /* Adjust width to account for padding */
}

.submit-button,
.copy-button {
    display: block;
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    background-color: #272b33;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s;
}

.submit-button:hover,
.copy-button:hover {
    background-color: #525964;
    transform: scale(1.05);
}

.output {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .submit-button,
    .copy-button {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 95%;
    }

    .submit-button,
    .copy-button {
        width: 100%;
    }
}