<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation Generator</title>
    <meta name="description" content="Generate clear and structured documentation for your code with our AI-powered tool. Perfect for developers looking to streamline their workflow. Try it now!">
    <meta name="keywords" content="AI documentation, code documentation, developer tools, generate docs, GitHub integration, GitHub, Python, documentation, machine learning, programming, Meta, facebook, llama">
    <meta property="og:title" content="AI-Powered Documentation Generator">
    <meta property="og:description" content="Generate clear and structured documentation for your code with our AI-powered tool. Try it now!">
    <meta property="og:image" content="/static/app.png">
    <meta property="og:url" content="https://gendocu.vercel.app">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/app.png">
</head>

<body>
    <div class="container">
        <h1>GenDocu</h1>
        <form id="upload-form" enctype="multipart/form-data">
            <div class="file-input">
                <input type="file" id="code-files" name="files" multiple>
            </div>
            <div class="documentation-format">
                <label for="format">Documentation Format:</label>
                <select name="format" id="format">
                    <option value="github">GitHub</option>
                    <option value="general">General</option>
                </select>
            </div>
            <div class="context-input">
                <label for="context" id="context-label">Context (Optional):</label>
                <input type="text" id="context" name="context" placeholder="Enter the context of the project to generate more relevant documentation!">
            </div>
            <button type="submit" class="submit-button">Generate</button>
        </form>
        <div class="output" id="output"></div>
        <button id="copy-button" class="copy-button" onclick="copyToClipboard()">Copy to Clipboard</button>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>
